{% extends "quickscale_modules_auth/base.html" %}
{% block title %}Set New Password - QuickScale{% endblock %}
{% block auth_content %}
<div class="auth-form-container">
    <h2>Set New Password</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Set New Password</button>
    </form>
</div>
{% endblock %}
